{% extends "base.html" %}
{% load static %}

{% block title %}{{ action }} Exam{% endblock %}

{% block content %}
<div class="page-title">
  <div class="row">
    <div class="col-6"><h4>{{ action }} Exam</h4></div>
    <div class="col-6">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'core:dashboard' %}"><svg class="stroke-icon"><use href="{% static 'riho/assets/svg/icon-sprite.svg' %}#stroke-home"></use></svg></a></li>
        <li class="breadcrumb-item"><a href="{% url 'exams:exam_list' %}">Exams</a></li>
        <li class="breadcrumb-item active">{{ action }}</li>
      </ol>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6">
      <div class="card">
        <div class="card-header"><h4>Exam Details</h4></div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="mb-3">{{ form.title.label_tag }}{{ form.title }}</div>
            <div class="mb-3">{{ form.subject.label_tag }}{{ form.subject }}</div>
            <div class="mb-3">{{ form.training_session.label_tag }}{{ form.training_session }}</div>
            <div class="row">
              <div class="col-md-4 mb-3">{{ form.max_marks.label_tag }}{{ form.max_marks }}</div>
              <div class="col-md-4 mb-3">{{ form.duration_minutes.label_tag }}{{ form.duration_minutes }}</div>
              <div class="col-md-4 mb-3">{{ form.passing_percentage.label_tag }}{{ form.passing_percentage }}</div>
            </div>
            <div class="mb-3">{{ form.description.label_tag }}{{ form.description }}</div>
            <button class="btn btn-primary">Save & Continue</button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-xl-6">
      <div class="card">
        <div class="card-header"><h4>Questions</h4></div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ formset.management_form }}
            <div class="custom-scrollbar" style="max-height: 400px;">
            {% for f in formset %}
              <div class="border rounded p-2 mb-2">
                <div class="row g-2">
                  <div class="col-3">{{ f.question_number.label_tag }}{{ f.question_number }}</div>
                  <div class="col-4">{{ f.question_type.label_tag }}{{ f.question_type }}</div>
                  <div class="col-2">{{ f.marks.label_tag }}{{ f.marks }}</div>
                  <div class="col-3">{{ f.correct_answer.label_tag }}{{ f.correct_answer }}</div>
                </div>
                <div class="mt-2">{{ f.question_text.label_tag }}{{ f.question_text }}</div>
                <div class="mt-2">{{ f.options.label_tag }}{{ f.options }}</div>
              </div>
            {% endfor %}
            </div>
            <button class="btn btn-primary mt-2">Save Exam</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
